*{
    margin: 0;
    padding: 0;
}
.mge{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
img{
    height: 20%;
    width: 20%;
    transition: 2s;

        
}
img:hover{
    height: 70%;
    width:70%;
    transition: 2s;
}